
:root {
	--blog-tag-background: #6262621A;
  --blog-card-subtext: #5F5F5F;
  --blog-card-stroke: #303130;
  --blog-card-image-overlay: linear-gradient(0deg, #1A1D1A 0%, rgba(0, 0, 0, 0.0) 40%);

  --blog-card-width: 273px;

  --tag-background-color: rgba(98, 98, 98, .3);
  --tag-background-color-hover: rgba(98, 98, 98, .45);
  --tag-text-color: #929292;
}

