@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
  --bg: #1A1D1A;
  --bg--image: url('/ui/filter.png');
  
  //widths
  --max-width-1: 99.0000rem; 
  --profile-card-width: 67.5000rem;

  //padding
  --padding-1: 30.5000rem;

  //colors
  --body-color: #9B9B9B;
  --body-color-2: #C3C3C3;
  --hidden-color: #4B4B4B;
  --clipboard-color: #B9B9B9;

  //gradients
  --gradient-stroke: linear-gradient(180deg, #232623 0%, #272A27 100%);
  --gradient-stroke-avatar: linear-gradient(180deg, #2D302D, #272A27); 
  --gradient-stroke-button: linear-gradient(270deg, #879491, #BDC0BD); 
  --gradient-footer-bg: linear-gradient(180deg, #1A1D1A 9%, #000000 23%);

  font-family: 'DM Sans', sans-serif;
  font-size: 12px;
}

body {
  background-color: var(--bg);
  color: white;
  max-width: 1920px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: 1;
}

p {
  margin: 0;
}
