@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
  --bg: #1A1D1A;
  --bg--image: url('/ui/filter.png');
  
  //widths
  --max-width-1: 99.0000rem; 

  //padding
  --padding-1: 30.5000rem;

  //gradients
  --gradient-stroke: linear-gradient(180deg, #232623 0%, #272A27 100%);
  --gradient-stroke-avatar: linear-gradient(180deg, #2D302D, #272A27); 
  --gradient-stroke-button: linear-gradient(270deg, #879491, #BDC0BD); 

  font-family: 'DM Sans', sans-serif;
  font-size: 12px;
}

body {
  background-color: var(--bg);
  color: white;
}
