.toggle-button {

  max-height: 25px;
  padding: 8px 24px;
  border-radius: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;

  transition: background-color 0.2s ease, box-shadow 0.2s ease;

  &.active {
    background-color: var(--a-color);
    color: white;
    box-shadow: inset 0px 0px 0px 2px var(--gradient-stroke-button);

    &:hover {
      background-color: var(--a-color);
    }
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: inset 0px 0px 0px 1px var(--gradient-stroke-button);
  }

  &:focus {
    outline: none;
    box-shadow: inset 0px 0px 0px 2px var(--gradient-stroke-button);
  }


}
