.cta-button {
  border: 2.0px solid rgba(255,255,255, .07);
  border-radius: 35px;
  background: var(--bg);
  display:flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 4.0833rem;

  span {
    font-weight:500;
  }
  &.big {
    width:13.9167rem;
    height: 3.3333rem;
    padding-right: 0.500rem;
    padding-left: 1.4167rem;
    span {
      font-size: 1.2500rem;
    }
    img {
      width: 2.2500rem;
      height: 2.2500rem;
    }

  }
}
