@use '@/app/styles/globals/stroke.scss' as *;

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6.0000rem;
  width: 100%;

  .navbar__element {
    display: flex;
    position: relative;
    height: 3.0833rem;
    @include blurstroke(#00FF0001, 2px, 34px, #232623);
    backdrop-filter: blur(10px);

    &__content {
      padding: 0.1500rem; 
      gap: 0.3333rem;
      display: flex;
      flex-grow: 1;
    }

    &__glow {
      z-index: -1;
      position: absolute;
      top: -.3rem;
      left: 3.6915rem;
      width: 2.2500rem;
      height: .5rem;
      background: white;
      box-shadow: 0 3px 8px 2px #ffffffbf;
      backdrop-filter: none;
      border-top-right-radius: 17px;
      border-top-left-radius: 17px;
      transition: left 0.3s;
    }

    &__option {
      position: relative;
      height: 100%;
      width: 7.0833rem;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
      border-radius: 53px;
      user-select: none;
      &.active {
        background: #FFFFFF0c;
        span {
          color: #FFFFFF;
        }
      }
      span {
        font-size: 1.0833rem;
        color: #696969;
      }

    }
    
  }

}

